body {
    font-family: 'Montserrat', sans-serif;
}

.logo-cabecalho {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 5em;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 50px;
}

.cabecalho-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.cabecalho-lista-links {
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.cabecalho-lista-links a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.cabecalho-lista-links a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:black;
}

footer {
    background: darkslategray;
    color: white;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 3em;
    margin-bottom: 3em;
}

label {
    font-size: 1.2em;
    padding: 1em 0;
    font-weight: bold;
}

.input-padrao {
    padding: 0.5em;
}

.conteudo-entre-em-contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mensagem {
    margin-bottom: 2em;
}

.enviar {
    width: 35%;
    padding: 0.5em;
    background: #555555;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    transition: 0.5s all;
    cursor: pointer;
    margin: auto;
}

.enviar:hover {
    transform: scale(1.1);
}

.conteudo-atendimento {
    width: 40%;
}

.atendimento {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.informacoes-de-atendimento {
    padding: 1em;
    text-align: center;
    font-size: 1.1em;
}

.logo-rodape {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 5em;
    text-align: center;
    background-color: darkslategray;
    color: white;
    padding: 50px;
    color: black;
}

.copyright {
    background-color: #373433;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    .logo-cabecalho {
        padding: 25px;
    }

    .cabecalho-lista {
        display: block;
        text-align: center;
    }

    .cabecalho-lista-links {
        border: none;
    }

    .conteudo-entre-em-contato {
        display: block;
    }

    .formulario {
        width: auto;
        padding: 3em;
    }

    .enviar {
        margin: auto;
    }

    .conteudo-atendimento {
        width: auto;
    }

    .logo-rodape {
        padding: 25px;
    }
}