body {
    font-family: 'Montserrat', sans-serif;
}

.logo-cabecalho {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 5em;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 50px;
}

.cabecalho-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.cabecalho-lista-links {
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.cabecalho-lista-links a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.cabecalho-lista-links a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:black;
}

.produtos-em-destaque {
    background: linear-gradient(white, darkslategray);
}

.produtos-em-destaque-titulo {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding: 2em;
}

.produtos-subtitulo {
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}

.produtos {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.itens {
    font-weight: bold;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imagens {
    width: 50%;
    box-shadow: 0px 0px 5px 2px #000000;
}

footer {
    background: darkslategray;
    color: white;
    border-top: 1px solid #333;
}

.logo-rodape {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 5em;
    text-align: center;
    background-color: darkslategray;
    color: white;
    padding: 50px;
    color: black;
}

.copyright {
    background-color: #373433;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    .logo-cabecalho {
        padding: 25px;
    }

    .cabecalho-lista {
        display: block;
        text-align: center;
    }

    .cabecalho-lista-links {
        border: none;
    }

    .produtos-em-destaque-titulo {
        padding: 1.5em;
    }

    .imagens {
        width: 90vw;
    }

    .logo-rodape {
        padding: 25px;
    }
}